@font-face {
font-family: "bebas_neueregular";
src: url("https://github.com/aira777/rep-by-aira.git/css/bebasneue1-webfont.eot");
src: url("https://github.com/aira777/rep-by-aira.git/css/bebasneue1-webfont.woff") format("woff"),
url("https://github.com/aira777/rep-by-aira.git/css/bebasneue1-webfont.otf") format("opentype"),
url("https://github.com/aira777/rep-by-aira.git/css/bebasneue1-webfont.svg#filename") format("svg");
}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('bebasneue1-webfont.woff2') format('woff2'),
         url('bebasneue1-webfont.woff') format('woff');
}
	
	h2{text-align: center; font-family:bebas_neueregular; font-size:300px; font-weight: bold;}
	p{text-align: center; font-family:bebas_neueregular; font-size:55px;font-weight: bold;} 
	h3{text-align: center; font-family:bebas_neueregular; font-weight: bold;}
	h1{text-align: center; font-family:bebas_neueregular; font-size:72px; font-weight: bolder;}
	h4{text-align: center; font-family:keep calm; font-size:35px; font-weight: bold;}
	div {text-align: center;}
	video {position: fixed;
		  top: 0px;
		  bottom: 50px;
		  left: 0;
		  -o-object-fit: cover;
		     object-fit: cover;
		  -o-object-position: center;
		     object-position: center;
		     opacity: 0.7;}
		.emphasis {color:red;}
		.whiteSpace {height:500px;color:white;}
		.overlay {background: rgba(0,0,0,0);
				position: absolute;
				padding:50px;
				top: 0; right: 0; bottom: 0; left: 0;
				display: flex;
				text-align: center;
				flex-direction: column;}
		.video2 {position: fixed;
		  top: 0px;
		  bottom: 50px;
		  left: 0;
		  -o-object-fit: cover;
		     object-fit: cover;
		  -o-object-position: center;
		     object-position: center;
		     opacity: 0.3;}
