
	body{font-family:BebasNeue-Regular, Helvetica, arial;}
	h2{text-align: center; font-size:300px; font-weight: bold;color:white;}
	p{text-align: center; font-size:55px;font-weight: bold; color:white;} 
	h3{text-align: center; font-weight: bold; color:white;}
	h1{text-align: center; font-size:72px; font-weight: bolder; color:white;}
	h4{text-align: center; font-family:keep calm; font-size:35px; font-weight: bold; color:white;}
	div {text-align: center;}
	video {position: fixed;
		  top: 0px;
		  bottom: 50px;
		  left: 0;
		  -o-object-fit: cover;
		     object-fit: cover;
		  -o-object-position: center;
		     object-position: center;
		     opacity: 100%;
		     filter: brightness(65%);}
		.emphasis {color:red;}
		.space {display: block;
			height:500px;
			width:500px;
			background :none;
			position: fixed;}
		.overlay {background: rgba(0,0,0,0);
				position: absolute;
				padding:50px;
				top: 0; right: 0; bottom: 0; left: 0;
				display: flex;
				text-align: center;
				flex-direction: column;}

			.overlay2 {
				  position: absolute;
				  bottom: fixed;
				  left: 0;
				  right: 0;
				  height: auto;
				  width: auto;
				  opacity: 0;
				  transition: .5s ease;
				  background-color: none;
				}

		.fadebox:hover .overlay2 {
			  opacity: 1;
			}

		.text {
		  position: absolute;
		  -webkit-transform: translate(-50%, -50%);
		  -ms-transform: translate(-50%, -50%);
		  transform: translate(-50%, -50%);
		  text-align: center;
		}

		     img{display:none
		     }
		p.maptext:hover + img{display:flex;
			flex-direction: column;
			align-self: center;
			width:500px;
			height:auto;}

			img{display:none
			}
		p.genocidetext:hover + img {display: flex;
			flex-direction: column;
			align-self: center;
			width:500px;
			height: auto;}

			img{display:none	
			}
        p.forest:hover + img {display: flex;
			flex-direction: column;
			align-self: center;
			width:500px;
			height: auto;}

		p.covidtext:hover + img {display: flex;
			flex-direction: column;
			align-self: center;
			width:500px;
			height: auto;}

			#zoom {transition: .5s ease;}
			#zoom2 {transition: .5s ease;}
			#zoom3 {transition: .5s ease;}
			#heavyzoom {transition: .5s ease;}